<div class="row" style="border-bottom: 1px solid gainsboro; padding-bottom: 8px;">
  <div class="col-lg-3 col-sm-3 col-md-3 fb">
    <img src="../assets/fb img.png" style="height: 15px; width: 18px; margin-top: 10px;"> <span
      style="font-size: 14px;"> 300k Followers</span>
  </div>
  <div class="col-lg-3 col-sm-3 col-md-3 insta" style="margin-left: 200px; margin-top: -18px;">
    <img src="../assets/insta img.png" style="height: 13px; width: 13px;"> <span style="font-size: 14px;"> 100k
      Followers</span>
  </div>
  <div class="col-lg-3 col-sm-3 col-md-3" style="margin-left: 400px; margin-top: -32px;">
    <p>Open Doors To A World Of Fashion <span style="border-bottom: 1.5px solid black;"> <span
          style="border-left: 1px solid black; margin-right: 5px;"></span>Discover More</span></p>
  </div>
  <div class="col-lg-3 col-sm-3 col-md-3" style="margin-left: 1100px; margin-top: -35px;">
    <span>English</span>
    <span style="margin-left: 19px;">USD</span>
  </div>

</div>


<div class="navbar">
  <div class="dropdown">
    <button class="dropbtn">Home
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Women Wear</a>
      <a href="#">Local Brand</a>
      <a href="#">Elagent Mood</a>
      <a href="#">Trendy Style</a>
      <a href="#">Instyle</a>
      <a href="#">Ready to Wear</a>
      <a href="#">Hat</a>
      <a href="#">Baby</a>
      <a href="#">Glasses</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Shops
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Canvas Sidebar</a>
      <a href="#">Hidden Sidebar</a>
      <a href="#">List View</a>
      <a href="#">Collection List</a>
      <a href="#">Custom Content</a>
      <a href="#">Custom Header Banner</a>
      <a href="#">Infinite Scrolling</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Products
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Grid 1 coloumns</a>
      <a href="#">Grid 1 coloumns</a>
      <a href="#">Grid Mix</a>
      <a href="#">Slider 1 coloumn</a>
      <a href="#">Slider 1 coloumns</a>
      <a href="#">Sider Full Width</a>
      <a href="#">Trust Badge</a>
      <a href="#">Information</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Pages
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">About Us</a>
      <a href="#">Contact 1</a>
      <a href="#">Contact 2</a>
      <a href="#">FAQs</a>
      <a href="#">Find a Store</a>
      <a href="#">My Account</a>
      <a href="#">Age Verifire Pop-up</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Blog
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Grid View</a>
      <a href="#">List View</a>
      <a href="#">Single Post Slide 1</a>
      <a href="#">Single Post Slide 2</a>
      <a href="#">Blog With Left Sidebar 1</a>
      <a href="#">Blog With Left Sidebar 2</a>
      <a href="#">Single Post With Sidebar</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">FoxKit
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Lucky Wheel</a>
      <a href="#">Popup</a>
      <a href="#">Free Shipping Goals</a>
      <a href="#">Sale Notification</a>
      <a href="#">Pre-order Stock</a>
      <a href="#">Back In Stock</a>
      <a href="#">Size Chart</a>
    </div>
  </div>

  <div class="logo">
    <img src="../assets/logo.avif" style="margin-top: 50px; width: 150px; height: 40px; margin-left: 10px;">
  </div>

  <div class="img">
    <img src="../assets/search img.png" style="margin-left: 1000px; height: 20px;">
    <img src="../assets/account img.png" style="height: 20px; margin-left: 20px;">
    <img src="../assets/wishlist img.png" style="height: 20px; margin-left: 20px;">
    <img src="../assets/cart img.webp" style="height: 20px; margin-left: 20px;">
  </div>
</div>

<div class="container-mt">
  <!-- 1st image & button -->
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <img src="../assets/1st img_files/copy 1st img.jpg " style="height: 650px;">
    <p style="margin-top: -550px; margin-left: 50px; font-weight: bold; font-size: 19px;">New Arrivals</p>
    <h1 style="margin-left: 50px; font-size: 50px;">Double Breasted</h1>
    <button
      style="font-weight: bold; padding: 15px 38px; background-color: transparent; border: 1px solid; border-radius: 5px; margin-left: 50px;">Shop
      Now</button>
    <p style="margin-left: 1000px; margin-top: 200px;">The ReeCotton Tee <span
        style="font-weight: bold; border-bottom: 1.5px solid black;"> <span
          style="border-left: 1.5px solid black; margin-right: 5px;"></span> Shop Now</span></p>
    </div>
  </div>

  <!-- season collection row -->
  <p style="font-size: 35px; margin-top: 250px; margin-left: 50px; width: 500px;">Season Collection</p>
  <div class="row" style="margin-left: 50px; display: flex; padding-bottom: 20px;">
    <div class="col-lg-3 col-md-6 col-sm-12">
      <img src="../assets/s1.webp" style="height: 350px; margin-right: 30px;">
      <p style="margin-top: -90px; margin-left: 30px; font-size: 25px;">Leather Bag</p>
      <span style="margin-left: 30px; color: gray;">5 items</span>
      <img class="img" src="../assets/right arrow img.png" style="border-radius: 70px; height: 40px; margin-left: 100px; margin-top: -90px;">
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <img src="../assets/s2.webp" style="height: 350px; margin-right: 30px;">
      <p style="margin-top: -90px; margin-left: 30px; font-size: 25px;">Shoes</p>
      <span style="margin-left: 30px; color: gray;">1 items</span>
      <img class="img" src="../assets/right arrow img.png" style="border-radius: 70px; height: 40px; margin-left: 100px; margin-top: -90px;">
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <img src="../assets/s3.webp" style="height: 350px; margin-right: 30px;">
      <p style="margin-top: -90px; margin-left: 30px; font-size: 25px;">Tops</p>
      <span style="margin-left: 30px; color: gray;">6 items</span>
      <img class="img" src="../assets/right arrow img.png" style="border-radius: 70px; height: 40px; margin-left: 100px; margin-top: -90px;">
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <img src="../assets/s4.webp" style="height: 350px; margin-right: 30px;">
      <p style="margin-top: -90px; margin-left: 30px; font-size: 25px;">Blazers</p>
      <span style="margin-left: 30px; color: gray;">5 items</span>
      <img class="img" src="../assets/right arrow img.png" style="border-radius: 70px; height: 40px; margin-left: 100px; margin-top: -90px;">
    </div>
  </div>

  <!-- 1st best seller row -->
  <div class="row" style="padding-top: 60px;">
    <p style="font-size: 30px; color: gray; text-align: center;">You are in <span style="color: black; border-bottom: 2px solid black;">Best
        Sellers</span></p>
  </div>

  <div class="row" style="margin-left: 50px; display: flex; padding-bottom: 30px;">
    <div class="col-lg-1 col-md-1 col-sm-1"></div>
    <div class="col-lg-2 col-md-6 col-sm-12">
      <img src="../assets/b1.webp" style="height: 300px; margin-right: 10px; cursor: pointer;">
      <p style="font-weight: 540;">Wool-blend Jacket</p>
      <p>$ 33.00</p>
      <button style="height: 30px; width: 30px; border-radius: 20px; background-color: rosybrown; border-color: black; cursor: pointer; border: 1px solid black;"></button>
      <button style="height: 30px; width: 30px; border-radius: 20px; background-color: beige; border-color: black; margin-left: 10px; cursor: pointer; border: 1px solid black;"></button>

    </div>

    <div class="col-lg-2 col-md-6 col-sm-12">
      <img src="../assets/b2.webp" style="height: 300px; margin-right: 10px; cursor: pointer;">
      <p style="font-weight: 540;">Stripe Cotton Shirt</p>
      <p>$ 17.00</p>
      <button style="height: 30px; width: 30px; border-radius: 20px; background-color: lightblue; border-color: black; cursor: pointer; border: 1px solid black; border: 1px solid black;"></button>
      <button style="height: 30px; width: 30px; border-radius: 20px; background-color: midnightblue; border-color: black; margin-left: 10px; cursor: pointer; border: 1px solid black;"></button>
      <button style="height: 30px; width: 30px; border-radius: 20px; background-color: beige; border-color: black; margin-left: 10px; cursor: pointer; border: 1px solid black;"></button>
    </div>
    
    <div class="col-lg-2 col-md-6 col-sm-12">
      <img src="../assets/b3.webp" style="height: 300px; margin-right: 10px; cursor: pointer;">
      <p style="font-weight: 540;">Slim High Ankle Jeans</p>
      <p>$ 20.00</p>
      <button style="height: 30px; width: 30px; border-radius: 20px; background-color: darkblue; border-color: black; cursor: pointer; border: 1px solid black; border: 1px solid black;"></button>
      <button style="height: 30px; width: 30px; border-radius: 20px; background-color: black; border-color: black; margin-left: 10px; cursor: pointer; border: 1px solid black;"></button>
      <button style="height: 30px; width: 30px; border-radius: 20px; background-color: lightblue; border-color: black; margin-left: 10px; cursor: pointer; border: 1px solid black;"></button>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12">
      <img src="../assets/b4.webp" style="height: 300px; margin-right: 10px; cursor: pointer;">
      <p style="font-weight: 540;">Oversized t-shirt</p>
      <p style="font-weight: bold;">$ 11.00 <span style="color: gray; margin-left: 10px; margin-bottom: 20px;"><del>$14.00</del></span></p>
      <button style="height: 30px; width: 30px; border-radius: 20px; background-color: pink; border-color: black; cursor: pointer; border: 1px solid black;"></button>
      <button style="height: 30px; width: 30px; border-radius: 20px; background-color: lightskyblue; border-color: black; margin-left: 10px; cursor: pointer; border: 1px solid black;"></button>
      <button style="height: 30px; width: 30px; border-radius: 20px; background-color: lightgrey; border-color: black; margin-left: 10px; cursor: pointer; border: 1px solid black;"></button>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12">
      <img src="../assets/b5.webp" style="height: 300px; margin-right: 10px; cursor: pointer;">
      <p style="font-weight: 540;">Oversized Jacket</p>
      <p>$ 153.00</p>
      <button style="height: 30px; width: 30px; border-radius: 20px; background-color: lightpink; border-color: black; border: 1px solid black;"></button>
      <button style="height: 30px; width: 30px; border-radius: 20px; background-color: black; border-color: black; margin-left: 10px; border: 1px solid black;"></button>
      <button style="height: 30px; width: 30px; border-radius: 20px; background-color: beige; border-color: black; margin-left: 10px; border: 1px solid black;"></button>
    </div>

    <div class="col-lg-1 col-md-1 col-sm-1"></div>
  </div>

  <!-- 2nd best seller row -->
  <div class="row" style="margin-left: 50px; display: flex; padding-bottom: 100px; border-bottom: 1px solid gainsboro;">
    <div class="col-lg-1 col-md-1 col-sm-1"></div>
    <div class="col-lg-2 col-md-6 col-sm-12">
      <img src="../assets/b6.webp" style="height: 300px; margin-right: 10px; cursor: pointer;">
      <p style="font-weight: 540;">Long-sleeves Maxi Dress</p>
      <p>$ 106.00</p>
      <button style="height: 30px; width: 30px; border-radius: 20px; background-color: beige; border-color: black; cursor: pointer; border: 1px solid black; border: 1px solid black;"></button>
      <button style="height: 30px; width: 30px; border-radius: 20px; background-color: lightgreen; border-color: black; margin-left: 10px; cursor: pointer; border: 1px solid black; border: 1px solid black;"></button>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12">
      <img src="../assets/b7.webp" style="height: 300px; margin-right: 10px; cursor: pointer;">
      <p style="font-weight: 540;">Linen Check Blazer</p>
      <p>$ 25.00</p>
      <button style="height: 30px; width: 30px; border-radius: 20px; background-color: lightgreen; border-color: black; cursor: pointer; border: 1px solid black; border: 1px solid black;"></button>
      <button style="height: 30px; width: 30px; border-radius: 20px; background-color: rgba(40, 35, 30, 0.744); border-color: black; margin-left: 10px; cursor: pointer; border: 1px solid black; border: 1px solid black;"></button>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12">
      <img src="../assets/b8.webp" style="height: 300px; margin-right: 10px; cursor: pointer;">
      <p style="font-weight: 540;">Linen Blend Shirt</p>
      <p>$ 17.00</p>
      <button style="height: 30px; width: 30px; border-radius: 20px; background-color: lightskyblue; border-color: black; cursor: pointer; border: 1px solid black; border: 1px solid black;"></button>
      <button style="height: 30px; width: 30px; border-radius: 20px; background-color: pink; border-color: black; margin-left: 10px; cursor: pointer; border: 1px solid black; border: 1px solid black;"></button>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12">
      <img src="../assets/b9.webp" style="height: 300px; margin-right: 10px; cursor: pointer;">
      <p style="font-weight: 540;">Denim Jacket</p>
      <p>$ 29.00</p>
      <button style="height: 30px; width: 30px; border-radius: 20px; background-color: lightskyblue; border-color: black; cursor: pointer; border: 1px solid black; border: 1px solid black;"></button>
      <button style="height: 30px; width: 30px; border-radius: 20px; background-color: black; border-color: black; margin-left: 10px; cursor: pointer; border: 1px solid black; border: 1px solid black;"></button>
      <button style="height: 30px; width: 30px; border-radius: 20px; background-color: pink; border-color: black; margin-left: 10px; cursor: pointer; border: 1px solid black; border: 1px solid black;"></button>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12">
      <img src="../assets/b10.webp" style="height: 300px; margin-right: 10px; cursor: pointer;">
      <p style="font-weight: 540;">Cotton Flannel Shirt</p>
      <p>$ 15.00</p>
      <button style="height: 30px; width: 30px; border-radius: 20px; background-color: lightgray; border-color: black; cursor: pointer; border: 1px solid black; border: 1px solid black;"></button>
      <button style="height: 30px; width: 30px; border-radius: 20px; background-color: black; border-color: black; margin-left: 10px; cursor: pointer; border: 1px solid black; border: 1px solid black;"></button>
    </div>

    <div class="col-lg-1 col-md-1 col-sm-1"></div>
  </div>

  <!-- round images section -->
  <div class="row" style="margin-left: 50px; padding-top: 50px; display: flex; padding-bottom: 60px;">
    <div class="col-lg-3 col-md-12 col-sm-12">
      <img src="../assets/shipping img.webp" style="height: 60px;">
      <p style="margin-left: 70px; margin-top: -60px; font-weight: bold; font-size: 20px;">Free Shipping</p>
      <p style="margin-left: 70px; color: gray; font-size: 15px;">Tell About Your Service.</p>
    </div>

    <div class="col-lg-3 col-md-12 col-sm-12" style="margin-left: 25px;">
      <img src="../assets/money img.webp" style="height: 60px;">
      <p style="margin-left: 70px; margin-top: -60px; font-weight: bold; font-size: 20px;">Money Guarantee</p>
      <p style="margin-left: 70px; color: gray; font-size: 15px;">within 30 Days for an Exchange.</p>
    </div>

    <div class="col-lg-3 col-md-12 col-sm-12" style="margin-left: 25px;">
      <img src="../assets/support img.webp" style="height: 60px;">
      <p style="margin-left: 70px; margin-top: -60px; font-weight: bold; font-size: 20px;">Online Support</p>
      <p style="margin-left: 70px; color: gray; font-size: 15px;">24 hourse a day 7 days a week</p>
    </div>

    <div class="col-lg-3 col-md-12 col-sm-12" style="margin-left: 25px;">
      <img src="../assets/payment img.webp" style="height: 60px;">
      <p style="margin-left: 70px; margin-top: -60px; font-weight: bold; font-size: 20px;">Flexible Payment</p>
      <p style="margin-left: 70px; color: gray; font-size: 15px;">Pay with Multiple Credit Cards.</p>
    </div>
  </div>
</div>

<!-- footer section -->
<div class="footer" style="background-color: #f5f5f5;">
  <div class="row" style="display: flex; margin-left: 50px; border-bottom: 1px solid gainsboro;">
    <div class="col-lg-3" style="width: 400px; border-right: 1px solid gainsboro; height: 300px;">
      <ul>
        <p style="font-weight: bold; font-size: 16px; padding-top: 50px;">Information</p>
        <li class="list" style="color: gray; list-style: none; line-height: 35px; font-size: 15px; word-spacing: inherit; cursor: pointer;">Privacy Policy</li>
        <li class="list" style="color: gray; list-style: none; line-height: 35px; font-size: 15px; word-spacing: inherit; cursor: pointer;">Refund Policy</li>
        <li class="list" style="color: gray; list-style: none; line-height: 35px; font-size: 15px; word-spacing: inherit; cursor: pointer;">Shipping & Return</li>
        <li class="list" style="color: gray; list-style: none; line-height: 35px; font-size: 15px; word-spacing: inherit; cursor: pointer;">Term & Condition</li>
      </ul>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12" style="width: 400px; border-right: 1px solid gainsboro; margin-left: 50px; height: 300px;">
      <p style="font-weight: bold; font-size: 16px; padding-top: 50px;">Quick Links</p>
      <li class="list" style="color: gray; list-style: none; line-height: 35px; font-size: 15px; word-spacing: inherit; cursor: pointer;">My Account</li>
      <li class="list" style="color: gray; list-style: none; line-height: 35px; font-size: 15px; word-spacing: inherit; cursor: pointer;">Cart</li>
      <li class="list" style="color: gray; list-style: none; line-height: 35px; font-size: 15px; word-spacing: inherit; cursor: pointer;">Wishlist</li>
      <li class="list" style="color: gray; list-style: none; line-height: 35px; font-size: 15px; word-spacing: inherit; cursor: pointer;">Product Compare</li>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12" style="width: 400px; border-right: 1px solid gainsboro; margin-left: 50px; height: 300px;">
      <p style="font-weight: bold; font-size: 16px; padding-top: 50px;">Our store</p>
      <p style="color: gray;">Find a location nearest <br/> you. <span style="border-bottom: 1px solid black; cursor: pointer;">See Our stores</span></p>
      <p style="color: gray; cursor: pointer;">+84 (0)387 392 056</p>
      <p style="color: gray; cursor: pointer;">hello@domain.com</p>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12" style="width: 400px; border-right: 1px solid gainsboro; margin-left: 50px; height: 300px;">
      <p style="font-weight: bold; font-size: 16px; padding-top: 50px;">Subscribe</p>
      <p style="color: gray;">Enter your email below to be the <br/> first to know about new collections <br/> and product launches.</p>
      <i style="cursor: pointer;" class="fa fa-envelope icon"></i><input style="padding: 12px 40px; background: #fff; border: none" type="email" placeholder="Enter your email"/>
    </div>
  </div>

  <div class="row" style="display: flex; padding-bottom: 100px; padding-top: 30px;">
    <div class="col-lg-4 col-md-6 col-sm-12" style="width: 600px;">
      <img src="../assets/visa card img copy.jpg" style="height: 25px; margin-left: 50px;">
      <img src="../assets/Mastercard img.jpg" style="height: 30px; margin-left: 10px;">
      <img src="../assets/amex-card img.png" style="height: 25px; margin-left: 10px;">
      <img src="../assets/paypal card img copy.png" style="height: 30px; margin-left: 10px;">
      <img src="../assets/dinners club card img copy.png" style="height: 30px; margin-left: 10px;">
      <img src="../assets/discover card img copy.jpg" style="height: 28px; margin-left: 10px;">
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12" style="width: 200px;">
      <p style="font-size: 13px;">© MINIMOG 2021</p>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12" style="margin-left: 190px; width: 50px; margin-top: 14px;">
      <img src="../assets/fb img.png" style="height: 15px;">
      <img src="../assets/insta img.png" style="height: 15px;">
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12" style="width: 200px;margin-left: 90px;">
      <div class="dropdown">
        <button class="dropbtn">USD
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">CAD</a>
          <a href="#">EUR</a>
          <a href="#">GBP</a>
          <a href="#">HKD</a>
          <a href="#">USD</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">English
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">English</a>
          <a href="#">Espanol</a>
          <a href="#">Francais</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row">
  <img class="fixed-bottom" src="../assets/uparrow img.png" style="height: 50px; margin-left: 1170px;">
  <img src="../assets/chat box.jpg" style="height: 50px; border-radius: 100px; margin-left: 1170px;">

</div>
<div class="row">
  <img src="../assets/chat box.jpg" style="height: 50px; border-radius: 100px; margin-left: 1170px;">
</div> -->
<router-outlet></router-outlet>
